<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}{% firstof title "Doermann Family Pages" %}{% endblock %}</title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="author" content="Greg Doermann" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% block meta %}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lato:regular,regularitalic,bold' rel='stylesheet' type='text/css'>
    {%  include 'limbo/framework.header.html' %}
    {% block css %}{% endblock %}
    {% block js_header %}{% endblock %}
</head>
<body>
{% block body %}
    {%  block content %}{%  endblock %}
    {%  include 'limbo/framework.footer.html' %}
    <div class="ui-helper-hidden" >
        {% block js %}{% endblock %}
    </div>
{%  endblock %}
</body>
</html>